<div class="power">
    <h4 class="title {{ ((powerRef().power || powerRef()) || powerRef()).type.toLowerCase() }}" ng-click="collapseClick()">
        <span  ng-repeat="i in range(powerRef().maxUses) track by $index">
            <i title="Indicates if a power has been used." ng-if="(powerRef().power || powerRef()).type != 'At-Will'" class="{{ getUseIcon(powerRef(), $index) }}" ng-click="handleUse(powerRef(), $index, $event)"></i>
        </span>
        <button ng-if="!removable" type="button" title="Remove this power" class="close" aria-hidden="true" ng-click="removePower(powerRef(), $event)">&times;</button>
        <button ng-if="!editable" type="button" title="Edit this power" class="close edit" aria-hidden="true" ng-click="editPowerRef(powerRef(), $event)"><i class="icon-edit"></i></button>
        <span class="type-level" ng-switch="(powerRef().power || powerRef()).kind">{{ (powerRef().power || powerRef()).kind }}<span ng-if="(powerRef().power || powerRef()).level"> {{ (powerRef().power || powerRef()).level }}</span></span>
        <b>{{ (powerRef().power || powerRef()).name }}</b>
    </h4>
    <div collapse="toggle">
        <div class="flavor" ng-if="(powerRef().power || powerRef()).flavor">{{ (powerRef().power || powerRef()).flavor }}
        </div>
        <div class="section details">
            <div>
                <b class="title">{{ (powerRef().power || powerRef()).type }}</b>
                <span ng-if="(powerRef().power || powerRef()).keywords">&diams;<b>{{ (powerRef().power || powerRef()).keywords.join(', ') }}</b></span>
            </div>
            <div>
                <span style="display: inline-block; width: 49.5%;"><b class="title">{{ (powerRef().power || powerRef()).actionType }}</b></span>
                <span style="display: inline-block; width: 49.5%;"><b ng-bind-html="(powerRef().power || powerRef()).range | markdown"></b></span>
            </div>
        </div>
        <div class="sections">
            <div class="section" ng-repeat="section in (powerRef().power || powerRef()).sections">
                <b class="title">{{ section.title }}:</b> <span ng-if="section.content" ng-bind-html="section.content | markdown"></span>
            </div>
            <div class="section notes" ng-if="powerRef().notes">
                <b class="title">Notes:</b> <span ng-bind-html="powerRef().notes | markdown"></span>
            </div>
        </div>
        <div  ng-if="powerRef().rolls" class="rolls">
            <div class="row">
                <div ng-class="getPowerRollSize($index, $last)" ng-repeat="roll in powerRef().rolls">
                    <roll-button class="btn-block" roll-title="'[' + (powerRef().power || powerRef()).name + '] ' + roll.title" roll="roll" context="powerCtrl.sysChar"></roll-button>
                </div>
            </div>
        </div>
    </div>
</div>
