<div id="SimpleChar" ng-controller="DnD4ePageCtrl as pageCtrl">
    <div class="left-column">
        <img width="100%" class="img-thumbnail" src="{{ pageCtrl.baseChar.portrait || 'http://placehold.it/340x460'  }}" style="margin-bottom: 5px">
        <button class="btn btn-default btn-block" ng-click="chooseDropboxImage()" style="margin-bottom: 5px">
            <i class="icon-dropbox"></i> Choose Portrait
        </button>
        <conditions></conditions>
    </div>
    <div class="middle-column">
        <div id="charDetails" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">

                        <!-- Money Dropdown -->
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                                <i class="icon-dollar"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form>
                                        <label for="copper">Copper</label>
                                        <input id="copper" type="number" class="value form-control" ng-model="pageCtrl.sysChar.copper" ng-click="$event.stopPropagation()">
                                        <label for="silver">Silver</label>
                                        <input id="silver" type="number" class="value form-control" ng-model="pageCtrl.sysChar.silver" ng-click="$event.stopPropagation()">
                                        <label for="gold">Gold</label>
                                        <input id="gold" type="number" class="value form-control" ng-model="pageCtrl.sysChar.gold" ng-click="$event.stopPropagation()">
                                        <label for="plat">Platinum</label>
                                        <input id="plat" type="number" class="value form-control" ng-model="pageCtrl.sysChar.platinum" ng-click="$event.stopPropagation()">
                                        <h4>Total: <span style="font-weight: normal">{{ pageCtrl.sysChar.platinum * 10 + pageCtrl.sysChar.gold + pageCtrl.sysChar.silver / 10 + pageCtrl.sysChar.copper / 100 }} gp</span></h4>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <!-- Add Dropdown -->
                        <!--button class="btn btn-primary" ng-click="addSkill()"><i class="icon-plus"></i> Add Skill</button-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-plus"></i> Add &hellip; <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="editClass()"><i class="icon-edit" style="font-size: .85em;"></i> Edit Class</a></li>
                                <!--li><a ng-click="editSkill()"><i class="icon-edit" style="font-size: .85em;"></i> Edit Skill</a></li-->
                                <li><a ng-click="editPower()"><i class="icon-edit" style="font-size: .85em;"></i> Edit Power</a></li>
                                <li><a ng-click="editFeat()"><i class="icon-edit" style="font-size: .85em;"></i> Edit Feat</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a ng-click="addSkill()"><i class="icon-plus" style="font-size: .85em;"></i> Add Skill</a></li>
                                <li><a ng-click="addPower()"><i class="icon-plus" style="font-size: .85em;"></i> Add Power</a></li>
                                <li><a ng-click="addFeat()"><i class="icon-plus" style="font-size: .85em;"></i> Add Feat</a></li>
                            </ul>
                        </div>

                    </div>
                    <h3 class="panel-title"><i class="icon-profile"></i> Character Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <input type="text" class="form-control" id="pageCtrl.characterName" placeholder="Character Name" ng-model="pageCtrl.baseChar.name">
                            <span class="help-block">Name</span>
                        </div>
                        <div class="form-group col-sm-2" style="width:130px;">
                            <select class="form-control form-add-parent" id="pageCtrl.characterClass" ng-model="pageCtrl.sysChar.class" ng-options="class as class.name for class in pageCtrl.dnd4echar.classChoices track by class.name">
                                <option value="">Pick a class...</option>
                            </select>
                            <i class="icon-plus icon-larger form-add" ng-click="addClass()" title="Add Class..."></i>
                            <span class="help-block">Class</span>
                        </div>
                        <div class="form-group col-sm-1" style="width:50px;">
                            <input type="text" class="form-control" id="pageCtrl.characterLevel" placeholder="Level" ng-model="pageCtrl.sysChar.level">
                            <span class="help-block">Level</span>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" class="form-control" id="pageCtrl.characterRace" placeholder="Race" ng-model="pageCtrl.sysChar.race">
                            <span class="help-block">Race</span>
                        </div>
                        <div class="form-group col-sm-1" style="min-width:90px">
                            <select class="form-control" id="pageCtrl.characterGender" ng-model="pageCtrl.sysChar.gender" ng-options="gender for gender in pageCtrl.dnd4echar.genderChoices"></select>
                            <span class="help-block">Gender</span>
                        </div>
                        <div class="form-group col-sm-1" style="min-width:90px">
                            <select class="form-control" id="pageCtrl.characterSize" ng-model="pageCtrl.sysChar.size" ng-options="size for size in pageCtrl.dnd4echar.sizeChoices"></select>
                            <span class="help-block">Size</span>
                        </div>
                        <div class="form-group col-sm-2" style="min-width:120px">
                            <input type="text" class="form-control" id="pageCtrl.characterDeity" placeholder="Deity" ng-model="pageCtrl.sysChar.deity">
                            <span class="help-block">Deity</span>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="text" class="form-control" id="pageCtrl.characterParagonPath" placeholder="Paragon Path" ng-model="pageCtrl.sysChar.paragonPath">
                            <span class="help-block">Paragon Path</span>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="text" class="form-control" id="pageCtrl.characterEpicDestiny" placeholder="Epic Destiny" ng-model="pageCtrl.sysChar.epicDestiny">
                            <span class="help-block">Epic Destiny</span>
                        </div>
                        <div class="form-group col-sm-2">
                            <select class="form-control" id="pageCtrl.characterAlignment" ng-model="pageCtrl.sysChar.alignment" ng-options="alignment for alignment in pageCtrl.dnd4echar.alignmentChoices"></select>
                            <span class="help-block">Alignment</span>
                        </div>
                        <div class="form-group col-sm-1">
                            <input type="text" class="form-control" id="pageCtrl.characterExperience" placeholder="XP" ng-model="pageCtrl.sysChar.experience">
                            <span class="help-block">XP</span>
                        </div>
                        <div class="form-group col-sm-1" style="width:50px;">
                            <input type="text" class="form-control" id="pageCtrl.characterActionPoints" placeholder="AP" ng-model="pageCtrl.sysChar.actionPoints">
                            <span class="help-block">Action Points</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="charDetails" class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-shield"></i> Combat Statistics</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default defenses">
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score clickable make-popover" placeholder="10" value="{{ pageCtrl.armorClass }}"
                                           popover-template="/systems/dnd4e/partials/popovers/ac.html" popover-title="Armor Class" readonly>
                                    <label>Armor Class</label>
                                </div>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score clickable" placeholder="10" value="{{ pageCtrl.fortDef }}"
                                           popover-template="/systems/dnd4e/partials/popovers/fort.html" popover-title="Fortitude Defense" readonly>
                                    <label>Fortitude</label>
                                </div>
                                <hr>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score clickable" placeholder="10" value="{{ pageCtrl.refDef }}"
                                           popover-template="/systems/dnd4e/partials/popovers/ref.html" popover-title="Reflex Defense" readonly>
                                    <label>Reflex</label>
                                </div>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score clickable" placeholder="10" value="{{ pageCtrl.willDef }}"
                                           popover-template="/systems/dnd4e/partials/popovers/will.html" popover-title="Will Defense" readonly>
                                    <label>Will</label>
                                </div>
                                <hr>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score" placeholder="10" value="{{ pageCtrl.passivePerception }}" readonly>
                                    <label class="muted">Passive Perception</label>
                                </div>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score" placeholder="10" value="{{ pageCtrl.passiveInsight }}" readonly>
                                    <label class="muted">Passive Insight</label>
                                </div>
                                <hr>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score clickable" placeholder="10" value="{{ pageCtrl.initiative }}"
                                           popover-template="/systems/dnd4e/partials/popovers/initiative.html" popover-title="Initiative" readonly>
                                    <label class="muted">Initiative</label>
                                    <roll-button class="btn-sm pull-right" roll-title="'Initiative'" roll="{ roll: '1d20 + [init]' }" context="{ init: pageCtrl.initiative }"></roll-button>
                                </div>
                                <div class="stat-block form-inline">
                                    <input type="text" class="form-control score" placeholder="10" ng-model="pageCtrl.sysChar.speed">
                                    <label class="muted">Speed</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading stat-block-holder">
                                    <div class="stat-block">
                                        <input type="text" class="form-control score" placeholder="0" ng-model="pageCtrl.sysChar.miscHitPoints">
                                        <span class="name">Misc HP</span>
                                    </div>
                                    <div class="stat-block">
                                        <input type="text" class="form-control score" placeholder="0" ng-model="pageCtrl.sysChar.surgesPerDay">
                                        <span class="name">Surges per Day</span>
                                    </div>
                                </div>
                            </div>
                            <hpcalc></hpcalc>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="enable-if-both" ng-include="'/systems/dnd4e/partials/attributes.html'"></div>
        <detail-tabs attributes="true" class="disable-if-both"></detail-tabs>
    </div>
    <div class="right-column">
        <conditions class="disable-if-left block"></conditions>
        <detail-tabs></detail-tabs>
    </div>
</div>