<link href="/system/dnd4e/css/dnd4e.css" rel="stylesheet">
<script src="/system/dnd4e/js/controllers.js"></script>

<div ng-controller="DnDCharCtrl">
    <div class="left-sidebar">
        <img class="portrait" src="http://placehold.it/340x460"/>
        <div class="navbar navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-stethoscope"></i> Conditions</span>
                <button class="btn btn-mini btn-primary all-right" ng-click="addCond()"><i class="icon-plus"></i> Add</button>
            </div>
        </div>
        <div class="section conditions">
            <div class="well well-small condition" ng-repeat="condition in sysChar.conditions">
                <button type="button" class="close" ng-click="removeCond(condition)">&times;</button>
                <h4>{{ condition.effect }}</h4>
                <span class="muted">{{ condition.duration }}</span>
            </div>
        </div>
    </div>

    <div class="right-sidebar">
        <div ng-include="'/system/dnd4e/partials/hitpoints.html'" ng-controller="HitpointsCtrl"></div>
        <tabset>
            <div class="pull-right">
                <button class="btn btn-small" title="Expand All"><i class="icon-expand"></i></button>
                <button class="btn btn-small" title="Collapse All"><i class="icon-collapse"></i></button>
            </div>
            <tab heading="Powers">
                <ng-include src="'/system/dnd4e/partials/power.html'" ng-repeat="power in sysChar.powers"></ng-include>
            </tab>
            <tab heading="Feats">
                <ng-include src="'/system/dnd4e/partials/feat.html'" ng-repeat="feat in sysChar.feats"></ng-include>
            </tab>
            <tab heading="Equipment">
                <h4 class="text-center">Not Implemented Yet</h4>
            </tab>
        </tabset>
    </div>

    <div class="center-content">
        <div class="navbar navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-edit"></i> Character Details</span>
                <div class="all-right">
                    <button class="btn btn-mini btn-primary" ng-click="addChar()"><i class="icon-plus"></i> Level Up</button>
                </div>
            </div>
        </div>
        <div class="char-details">
            <div class="char-detail name">
                <h2 class="title" editable="character.name" type="text">Character Name</h2>
                <p class="subtitle">Character Name</p>
            </div>
            <div class="char-detail">
                <h4 class="title" editable="sysChar.level" type="text">Level</h4>
                <p class="subtitle">Level</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="classID" ng-options="class._id as class.name for class in choices.class">
                    </select>
                </h4>
                <p class="subtitle">Class</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="raceID" ng-options="race._id as race.name for race in choices.race">
                    </select>
                </h4>
                <p class="subtitle">Race</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="pathID" ng-options="path._id as path.name for path in choices.paragonPath">
                    </select>
                </h4>
                <p class="subtitle">Paragon Path</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="destinyID" ng-options="destiny._id as destiny.name for destiny in choices.epicDestiny">
                    </select>
                </h4>
                <p class="subtitle">Epic Destiny</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="sysChar.alignment" ng-options="alignment for alignment in choices.alignment">
                    </select>
                </h4>
                <p class="subtitle">Alignment</p>
            </div>
            <div class="char-detail">
                <h4 class="title" editable="sysChar.deity" type="text">Deity</h4>
                <p class="subtitle">Deity</p>
            </div>
            <div class="char-detail">
                <h4 class="title">
                    <select ng-model="sysChar.gender" ng-options="gender for gender in choices.gender">
                    </select>
                </h4>
                <p class="subtitle">Gender</p>
            </div>
            <div class="char-detail">
                <h4 class="title fake-editable">{{ sysChar.size }}</h4>
                <p class="subtitle">Size</p>
            </div>
        </div>
        <div class="section">
            <div class="stat-group">
                <header class="group-title">Movement</header>
                <div class="stat">
                    <header>Initiative</header>
                    <span class="value">{{ sysChar.initiative }}</span>
                </div>
                <div class="stat">
                    <header>Speed</header>
                    <span class="value">{{ sysChar.speed }}</span>
                </div>
            </div>
            <div class="stat-group">
                <header class="group-title">Senses</header>
                <div class="stat">
                    <header>Passive Insight</header>
                    <span class="value">{{ sysChar.passiveInsight }}</span>
                </div>
                <div class="stat">
                    <header>Passive Perception</header>
                    <span class="value">{{ sysChar.passivePerception }}</span>
                </div>
            </div>
            <div class="stat-group">
                <header class="group-title">Defenses</header>
                <div class="stat">
                    <header>AC</header>
                    <span class="value">{{ sysChar.ac }}</span>
                </div>
                <div class="stat">
                    <header>Fortitude</header>
                    <span class="value">{{ sysChar.fort }}</span>
                </div>
                <div class="stat">
                    <header>Reflex</header>
                    <span class="value">{{ sysChar.ref }}</span>
                </div>
                <div class="stat">
                    <header>Will</header>
                    <span class="value">{{ sysChar.will }}</span>
                </div>
            </div>
            <div class="stat-group">
                <header class="group-title">Misc</header>
                <div class="stat">
                    <header>Gold</header>
                    <input type="number" class="value xlarge" ng-model="sysChar.gold">
                </div>
                <div class="stat">
                    <header>XP</header>
                    <input type="number" class="value large" ng-model="sysChar.experience">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="stat-group attributes">
                <header class="group-title">Attributes</header>
                <div class="stat">
                    <header>STR</header>
                    <input type="number" class="value" ng-model="sysChar.strength">
                    <span class="value muted">{{ addSign(sysChar.strengthMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>

                <div class="stat">
                    <header>CON</header>
                    <input type="number" class="value" ng-model="sysChar.constitution">
                    <span class="value muted">{{ addSign(sysChar.constitutionMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>

                <div class="stat">
                    <header>DEX</header>
                    <input type="number" class="value" ng-model="sysChar.dexterity">
                    <span class="value muted">{{ addSign(sysChar.dexterityMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>

                <div class="stat">
                    <header>INT</header>
                    <input type="number" class="value" ng-model="sysChar.intelligence">
                    <span class="value muted">{{ addSign(sysChar.intelligenceMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>

                <div class="stat">
                    <header>WIS</header>
                    <input type="number" class="value" ng-model="sysChar.wisdom">
                    <span class="value muted">{{ addSign(sysChar.wisdomMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>

                <div class="stat">
                    <header>CHA</header>
                    <input type="number" class="value" ng-model="sysChar.charisma">
                    <span class="value muted">{{ addSign(sysChar.charismaMod) }}</span>
                    <button class="btn btn-mini">Roll</button>
                </div>
            </div>

            <div class="stat-group skills">
                <header class="group-title">Skills</header>
                <div class="columns">
                    <div class="stat" ng-repeat="skill in sysChar.skills">
                        <header>{{ skill.name|capitalize }}</header>
                        <span class="value">{{ skill.total }}</span>
                        <button class="btn btn-mini">Roll</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-shield"></i> Attacks</span>
                <button class="btn btn-mini btn-primary all-right" ng-click="addCond()"><i class="icon-plus"></i> Add Attack</button>
            </div>
        </div>
    </div>

    <div class="bottom">&nbsp;</div>
</div>
