<div class="feat" ng-if="!feat.choices || feat.choices.length == 0">
    <header  ng-click="feats[feat.name] = !feats[feat.name]">{{ feat.name }}</header>
    <div class="feat-content" collapse="feats[feat.name]">
        <div ng-if="feat.benefit" ng-bind-html-unsafe="feat.benefit | markdown"></div>
        <div ng-if="feat.description" ng-bind-html-unsafe="feat.description | markdown"></div>
    </div>
</div>

<div class="feat" ng-repeat="sub in feat.subFeatures" ng-init="feats[sub.name] = feats[sub.name] || true">
    <header  ng-click="feats[sub.name] = !feats[sub.name]">{{ sub.name }}</header>
    <div class="sub-content" collapse="feats[sub.name]">
        <div ng-bind-html-unsafe="sub.description | markdown"></div>
    </div>
</div>

