<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>New Character</h3>
    <p class="subtitle">
        Please fill in the initial information for your character. You <b>will not</b> be able to edit this information
        later.
    </p>
</div>
<div class="modal-body new-char">
    <tabset>
        <tab heading="Race" select="setActiveTab(1)" active="tabs[0].active">
            <div class="row-fluid">
                <div class="span2">
                    <select class="tall" ng-model="newChar.race" ng-options="race as race.name for race in choices.race" size="2">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="span10">
                    <div class="race-details well well-small" ng-show="newChar.race">
                        <h4>{{ newChar.race.name }} Racial Traits</h4>
                        <p>
                            <b>Average Height:</b> {{ newChar.race.heightRange }}<br/>
                            <b>Average Weight:</b> {{ newChar.race.weightRange }}
                        </p>
                        <p>
                            <b>Ability Scores:</b> <span ng-if="newChar.race.abilityBonusChoice">Add +2 to any ability of your choice</span>
                            <span ng-if="newChar.race.abilityBonusChoice && newChar.race.abilityBonuses.length > 0">, </span>
                            <span ng-repeat="bonus in newChar.race.abilityBonuses">
                                +{{ bonus.bonus }} {{ bonus.ability | capitalize }}<span ng-if="!$last">,</span>
                            </span>
                            <span ng-if="newChar.race.abilityBonuses.length > 0 && newChar.race.abilityBonusChoices.length > 0">, </span>
                            <span ng-repeat="bonus in newChar.race.abilityBonusChoices">
                                +{{ bonus.bonus }} to either {{ bonus.abilities[0] | capitalize }} or {{ bonus.abilities[1] | capitalize }}<span ng-if="!$last">,</span>
                            </span>
                            <br/>

                            <b>Size:</b> {{ newChar.race.size }}<br/>
                            <b>Speed:</b> {{ newChar.race.speed }}<br/>
                            <b>Vision:</b> {{ newChar.race.vision }}
                        </p>
                        <p>
                            <b>Languages:</b> <span ng-repeat="lang in newChar.race.languages">{{ lang.name }}<span ng-if="!$last">, </span></span><br/>
                            <b ng-if="newChar.race.skillBonuses.length">Skill Bonuses:</b>
                        <span ng-repeat="bonus in newChar.race.skillBonuses">
                            +{{ bonus.bonus }} {{ bonus.skill }}<span ng-if="!$last">,</span>
                        </span>
                        </p>
                        <p>
                        <div class="feat" ng-repeat="feat in newChar.race.feats">
                            <b>{{ feat.name }}:</b> <span ng-bind-html-unsafe="feat.benefit | markdown"></span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Class" select="setActiveTab(2)" active="tabs[1].active">
            <div class="row-fluid">
                <div class="span2">
                    <select class="tall" ng-model="newChar.class" ng-options="class as class.name for class in choices.class" size="2">
                        <option value="">-----</option>
                    </select>
                </div>
                <div class="span10 details">
                    <div class="class-details well well-small section" ng-show="newChar.class">
                        <h4>{{ newChar.class.name }} Class Traits</h4>
                        <!--p class="description">{{ newChar.class.description }}</p-->
                        <table>
                            <tr>
                                <td style="min-width: 170px">
                                    <b>Role:</b> {{ newChar.class.role }}
                                </td>
                                <td>
                                    <b>Power Source:</b> {{ newChar.class.powerSource }}
                                </td>
                                <td>
                                    <b>Key Abilities:</b> {{ newChar.class.keyAbilities }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Armor Proficiencies:</b> {{ newChar.class.armorProficiencies }}
                                </td>
                                <td>
                                    <b>Weapon Proficiencies:</b> {{ newChar.class.weaponProficiencies }}
                                </td>
                                <td>
                                    <b>Bonus to Defense:</b> {{ newChar.class.defenseBonus }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Hitpoints at 1st Level:</b> {{ newChar.class.initialHitpoints }}<br/>
                                </td>
                                <td>
                                    <b>Hitpoints per Level:</b> {{ newChar.class.hitpointsPerLevel }}<br/>
                                </td>
                                <td>
                                    <b>Healing Surges per Day:</b> {{ newChar.class.healingSurges }}
                                </td>
                                <!--td colspan="2">
                                    <b>Trained Skills:</b>
                                    <span ng-repeat="skill in newChar.class.trainedSkills" ng-switch="isArray(skill)">
                                        <span ng-switch-when="true">{{ skill[0] | capitalize }} or {{ skill[1] | capitalize }}<span ng-if="!$last">, </span></span>
                                        <span ng-switch-default>{{ skill | capitalize }}<span ng-if="!$last">, </span></span>
                                    </span>
                                    <div>
                                        <i>From the class skills list below, choose {{ newChar.class.trainedSkillsAmount }} more trained skills at 1st level:</i>
                                        <div style="margin-left: 15px">
                                            <span ng-repeat="skill in newChar.class.trainedSkillChoices">{{ skill | capitalize }}<span ng-if="!$last">, </span></span>
                                        </div>
                                    </div>
                                </td-->
                            </tr>
                        </table>
                    </div>
                    <div class="section" ng-if="newChar.class.trainedSkillsAmount > 0">
                        <header>
                            <h4>Skills</h4>
                            <p class="subtitle" ng-if="newChar.class.trainedSkills.length > 0">
                                <b>Trained Skills:</b>
                                <span ng-repeat="skill in newChar.class.trainedSkills" ng-switch="isArray(skill)">
                                    <span ng-switch-when="true">{{ skill[0] | capitalize }} or {{ skill[1] | capitalize }}<span ng-if="!$last">, </span></span>
                                    <span ng-switch-default>{{ skill | capitalize }}<span ng-if="!$last">, </span></span>
                                </span>
                            </p>
                            <p class="subtitle">From the class skills list below, choose <b>{{ newChar.class.trainedSkillsAmount }}</b> <span ng-if="newChar.class.trainedSkills.length > 0">more</span> trained skills at 1st level:</p>
                        </header>
                        <p class="skill-choices">
                            <label class="checkbox" ng-repeat="skill in newChar.class.trainedSkillChoices"><input type="checkbox" ng-model="newChar.class.skills[skill]" ng-disabled="!newChar.class.skills[skill] && skillCount() >= newChar.class.trainedSkillsAmount" ng-init="newChar.class.skills = {}"/> {{ skill | capitalize }}</label>
                        </p>
                    </div>
                    <div class="section class-feature-details" ng-if="getChoices(newChar.class).length > 0">
                        <header>
                            <h4>Class Features</h4>
                            <p class="subtitle">For the following class features, please choose one option from each feature:</p>
                        </header>
                        <div ng-repeat="feature in getChoices(newChar.class)" class="feature">
                            <h4>{{ feature.name }}</h4>
                            <div class="subtitle" ng-bind-html-unsafe="feature.description | markdown"></div>
                            <div class="feat" ng-repeat="sub in feature.choices" ng-class="{active: newChar.class.chosenFeatures[feature.name] == sub.name }" ng-click="selectFeature(sub, feature)">
                                <header>{{ sub.name }}</header>
                                <div class="feat-contents">
                                    <p ng-bind-html-unsafe="sub.description | markdown"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Attributes / Skills" select="setActiveTab(3)" active="tabs[2].active">
            <div class="row-fluid details">
                <div class="section">
                    <header>
                        <h4>Attributes</h4>
                        <p class="subtitle">Please choose your starting level attributes. <i>Note: These will be used for calculations such as total hitpoints; if you skip this section, your hitpoints will be wrong.</i></p>
                    </header>
                    <div class="alert" ng-if="newChar.race" style="margin-bottom: 0">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Remember:</strong> Your race's ability bonuses are:
                            <span ng-if="newChar.race.abilityBonusChoice">Add +2 to any ability of your choice</span>
                            <span ng-if="newChar.race.abilityBonusChoice && newChar.race.abilityBonuses.length > 0">, </span>
                            <span ng-repeat="bonus in newChar.race.abilityBonuses">
                                +{{ bonus.bonus }} {{ bonus.ability | capitalize }}<span ng-if="!$last">,</span>
                            </span>
                            <span ng-if="newChar.race.abilityBonuses.length > 0 && newChar.race.abilityBonusChoices.length > 0">, </span>
                            <span ng-repeat="bonus in newChar.race.abilityBonusChoices">
                                +{{ bonus.bonus }} to either {{ bonus.abilities[0] | capitalize }} or {{ bonus.abilities[1] | capitalize }}<span ng-if="!$last">,</span>
                            </span>
                    </div>
                    <form class="form-horizontal attribute-form">
                    <div class="control-group">
                        <label class="control-label">Strength:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.strength">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Constitution:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.constitution">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Dexterity:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.dexterity">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Intelligence:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.intelligence">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Wisdom:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.wisdom">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Charisma:</label>
                        <div class="controls">
                            <input class="input-small" type="number" ng-model="newChar.attributes.charisma">
                        </div>
                    </div>
                    </form>
                    <div class="point-guide">
                        <h5>Pregenerated Ability Scores</h5>
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <td>14</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>14</td>
                                <td>13</td>
                                <td>13</td>
                                <td>13</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>14</td>
                                <td>14</td>
                                <td>12</td>
                                <td>12</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>14</td>
                                <td>14</td>
                                <td>14</td>
                                <td>12</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>14</td>
                                <td>13</td>
                                <td>12</td>
                                <td>12</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>15</td>
                                <td>13</td>
                                <td>12</td>
                                <td>11</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>15</td>
                                <td>12</td>
                                <td>11</td>
                                <td>11</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>14</td>
                                <td>14</td>
                                <td>12</td>
                                <td>11</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>16</td>
                                <td>12</td>
                                <td>10</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>16</td>
                                <td>12</td>
                                <td>11</td>
                                <td>11</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>15</td>
                                <td>12</td>
                                <td>11</td>
                                <td>10</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>14</td>
                                <td>12</td>
                                <td>11</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>13</td>
                                <td>13</td>
                                <td>10</td>
                                <td>10</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>14</td>
                                <td>11</td>
                                <td>10</td>
                                <td>10</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>12</td>
                                <td>12</td>
                                <td>10</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="section">
                    <header>
                        <h4>Additional Skills</h4>
                        <p class="subtitle">Some campaigns add additional skills to the setting. Please add any additional skills here.
                    </header>

                    <form name=skillform class="form-inline pull-right add-skill-form">
                        <input type="text" placeholder="Skill Name" ng-model="newSkill.name" required>
                        <select ng-model="newSkill.attribute" required>
                            <option value="">Select Attribute</option>
                            <option value="strength">Strength</option>
                            <option value="constitution">Constitution</option>
                            <option value="dexterity">Dexterity</option>
                            <option value="intelligence">Intelligence</option>
                            <option value="wisdom">Wisdom</option>
                            <option value="charisma">Charisma</option>
                        </select>
                        <button type="submit" class="btn btn-primary" ng-click="addSkill(newSkill)" ng-disabled="skillform.$invalid">Add Skill</button>
                    </form>
                    <table class="table table-bordered table-striped skill-table">
                        <tr ng-repeat="skill in newChar.skills track by $index">
                            <td class="expand">
                                {{ skill.name }}
                            </td>
                            <td class="expand">
                                {{ skill.attribute | capitalize }}
                            </td>
                            <td class="shrink">
                                <button class="btn btn-danger" ng-click="removeSkill(skill)"><i class="icon-trash"></i> Delete</button>
                            </td>
                        </tr>
                        <tr ng-if="newChar.skills.length <= 0">
                            <td><h4 style="margin-bottom: 0;">No Skills</h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button ng-click="prev()" class="btn" ng-disabled="!enablePrev()"><i class="icon-arrow-left"></i> Previous</button>
        <button ng-click="next()" class="btn" ng-disabled="!enableNext()"><i class="icon-arrow-right"></i> Next</button>
    </div>
    <button ng-click="save()" class="btn btn-primary" ng-disabled="!tabs[2].active"><i class="icon-save"></i> Save</button>
    <button ng-click="cancel()" class="btn" ><i class="icon-remove"></i> Cancel</button>
</div>
