<div class="power" ng-show="power">
    <header class="{{ power.type }}" ng-click="powers[power._id] = !powers[power._id]">
        <i title="Indicates if the power has been used, or not" ng-if="power.type != 'At-Will'" class="pointer used-power" ng-class="{true:'icon-check', false:'icon-check-empty'}[sysChar.usedPowers.indexOf(power._id) >= 0]" ng-click="toggleUsed(power, $event)"></i>
        {{ power.name }}
        <span class="level">
            <span ng-if="power.paragonPath">{{ sysChar.paragonPath.name }}</span>
            <span class="type-level" ng-switch="power.kind">
                <span ng-switch-when="Attack">{{ power.class.name }} Attack {{ power.level }}</span>
                <span ng-switch-when="Utility">{{ power.class.name }} Utility {{ power.level }}</span>
                <span ng-switch-when="ClassFeature">{{ power.class.name }} Class Feature</span>
                <span ng-switch-when="Race">{{ sysChar.race.name }} Racial</span>
                <!-- TODO: Figure out how to handle Feat and Skill powers -->
                <span ng-switch-default>{{ power.kind }}<span ng-if="power.level">{{ power.level }}</span></span>
            </span>
        </span>
    </header>
    <div class="power-content" collapse="powers[power._id]">
        <div class="flavor gradient">{{ power.flavor }}</div>

        <div class="type-keywords">
            <span>{{ power.type }}</span>
            <span ng-if="power.keywords">&diams; {{ power.keywords }}</span>
        </div>

        <div class="action-type-range">
            <span class="action-type">{{ power.actionType }}</span>
            <span class="range">{{ power.rangeText }}</span>
        </div>

        <div class="target" ng-repeat="target in power.targets">
            <div class="section" ng-if="target.target"><b>Target</b>: {{ target.target }}</div>
            <div class="section" ng-if="target.attack"><b>Attack</b>: {{ target.attack }}</div>
            <div class="section gradient" ng-if="target.hit"><b>Hit</b>: <span class="section-content" ng-bind-html-unsafe="target.hit | markdown"></span></div>
            <div class="section" ng-if="target.miss"><b>Miss</b>: <span class="section-content" ng-bind-html-unsafe="target.miss | markdown"></span></div>
        </div>
        <div class="sections">
            <div class="section" ng-repeat="section in power.sections" ng-class="{ gradient: $index % 2 }">
                <b>{{ section.title }}</b>: <span class="section-content" ng-bind-html-unsafe="section.content | markdown"></span>
            </div>
        </div>
    </div>
</div>