<div class="row" ng-if="user">
    <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <button class="btn btn-primary pull-right" ng-click="addChar()"><i class="icon-plus"></i> Add</button>
                <h2 class="panel-title">Character</h2>
            </div>

            <!-- Table -->
            <table class="table table-bordered table-striped">
                <tr ng-repeat="character in characters | orderBy:['-favorite', 'name']">
                    <td class="shrink">
                        <button class="btn btn-default" ng-class="{favorite: character.favorite}" ng-click="toggleFavorite(character)"><i class="icon-star"></i>
                        </button>
                    </td>
                    <td class="expand"><a href="/character/{{ character.$id }}">{{ character.name }}</a>
                    </td>
                    <td class="shrink">{{ character.system.name }}</td>
                    <td class="shrink">
                        <button class="btn btn-block btn-danger" ng-click="delete(character)"><i class="icon-trash"></i> Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-if="!user">
     <h2 class="text-center">Please sign in.</h2>
</div>
