<div class="row" ng-if="user">
    <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close pull-right" title="Add Character" ng-click="addChar()">
                    <span aria-hidden="true"><i class="icon-plus"></i></span><span class="sr-only">Add Character</span>
                </button>
                <h2 class="panel-title">Characters</h2>
            </div>
            <div class="list-group">
                <a href="" class="list-group-item"
                   ng-repeat="character in characters | orderBy:['-favorite', 'name']"
                   ng-click="setLocation('/character/' + character.id)">
                    <button type="button" class="pull-right btn btn-link" style="font-size: 18px; padding: 2px 6px; color: #999;" title="Delete Character" ng-click="delete(character, $event)">
                        <i class="icon-trash"></i>
                    </button>
                    <button type="button" class="pull-right btn btn-link" style="font-size: 18px; padding: 2px 6px;"
                            ng-style="{'color': character.favorite ? '#f0ad4e' : '#999'}" title="Favorite" ng-click="toggleFavorite(character, $event)">
                        <i class="icon-star"></i>
                    </button>
                    <button type="button" class="pull-right btn btn-link" style="font-size: 18px; padding: 2px 6px; color: #999;" title="Edit Character" ng-click="editCharacter(character, $event)">
                        <i class="icon-edit"></i>
                    </button>
                    <span class="text-muted hidden-xs" style="position: absolute; bottom: 7px; right: 7px">{{ character.system.name }}</span>
                    <div class="pull-left img-thumbnail" style="width: 50px; height: 50px; overflow: hidden; line-height: 42px; text-align: center;">
                        <img ng-if="character.thumbnail" ng-src="{{character.thumbnail}}" width="100%">
                        <i ng-if="!character.thumbnail" class="icon-user" style="font-size: 32px; color: #ccc;"></i>
                    </div>
                    <div style="margin-left: 60px; margin-right: 50px; min-height: 50px">
                        <h4 class="list-group-item-heading">{{ character.name }}</h4>
                        <span class="text-muted visible-xs">{{ character.system.name }}</span>
                        <p class="list-group-item-text text-muted" ng-if="character.description"><i>{{ character.description }}</i></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="!user">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Welcome to RPGKeeper Archive</h2>
            </div>
            <div class="panel-body">
                <p>
                    This is an <strong>archived, unsupported version</strong> of RPGKeeper.
                    It exists solely to allow users to access their old character data.
                </p>
                <p>
                    While you can still view and edit your characters, this version is no longer
                    being maintained or developed. Use at your own risk.
                </p>
                <p class="text-center" style="margin-top: 20px; margin-bottom: 10px;">
                    <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/auth/google'">
                        <i class="icon-google-plus"></i> Sign In with Google
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
