<div class="navbar navbar-inverse navbar-static-top header" ng-controller="HeaderCtrl">
    <div class="navbar-inner">
        <a class="brand" href="#">RPGKeeper</a>
        <div class="navbar-text text-center title">{{ title }}</div>
        <div class="pull-right header-buttons">
            <div class="btn-group" ng-show="user">
                <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-folder-open-alt"></i> Characters
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="character in characters | filter: {favorite: true}"><a tabindex="-1" href="/character/{{ character.id }}"><i class="icon-user"></i> {{ character.name }}</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#"><i class="icon-plus"></i> Add Character</a></li>
                </ul>
            </div>
            <button class="btn btn-small btn-inverse sign-in" onclick="navigator.id.request();" ng-hide="user"><i class="icon-persona"></i> Sign In</button>
            <button class="btn btn-small btn-inverse sign-in" onclick="navigator.id.logout();" ng-show="user"><i class="icon-persona"></i> Sign Out</button>
        </div>
        <span class="navbar-text pull-right current-user">{{ user.email }}</span>
    </div>
</div>

<script>
</script>
