<div>
    <nav class="navbar navbar-inverse navbar-static-top header" ng-controller="HeaderCtrl" role="navigation">
        <a class="navbar-brand" href="/">RPGKeeper</a>

        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text current-user">{{ user.impersonating ? user.email + ' (' + user.realUser.email + ')' : user.email }}</p></li>
            <li ng-if="user"><button type="button" class="btn btn-inverse navbar-btn" ng-click="setLocation('/')"><i class="icon-home"></i></button></li>

            <li ng-if="user">
                <div class="btn-group">
                    <button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-star"></i> Favorites <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="hasFavorites()" class="dropdown-header">Favorite Characters</li>
                        <li ng-repeat="character in characters | filter: {favorite: true}"><a href="/character/{{ character.id }}"><i class="icon-user"></i> {{ character.name }}</a></li>
                        <li ng-if="!hasFavorites()"><p class="text-center"><b>No Favorites</b></p></li>
                        <li class="divider"></li>
                        <li><a  ng-click="addChar()"><i class="icon-plus"></i> Add Character</a></li>
                    </ul>
                </div>
            </li>

            <li ng-if="user && user.isAdmin">
                <div class="btn-group">
                    <button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user-md"></i> Impersonate <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">Impersonate User</li>
                        <li ng-repeat="u in allUsers"><a href="/admin/impersonate?user={{ u.email }}" target="_self"><i class="icon-user"></i> {{ u.email }}</a></li>
                        <li ng-if="user.impersonating" class="divider"></li>
                        <li ng-if="user.impersonating"><a href="/admin/stop-impersonating" target="_self"><i class="icon-remove"></i> Stop Impersonating</a></li>
                    </ul>
                </div>
            </li>
            <li ng-if="user">
                <button type="button" class="btn btn-inverse navbar-btn" ng-click="logout()"><i class="icon-signout"></i> Sign Out</button>
            </li>
            <li ng-if="!user">
                <button type="button" class="btn btn-danger navbar-btn" onclick="window.location.href='/auth/google'">
                    <i class="icon-google-plus"></i> Sign In
                </button>
            </li>
        </ul>
    </nav>
    <div class="alert-area">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.message }}</alert>
    </div>
</div>
