<div>
    <nav class="navbar navbar-inverse navbar-static-top header" ng-controller="HeaderCtrl" role="navigation">
        <a class="navbar-brand" href="/">RPGKeeper</a>

        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text current-user">{{ user.email }}</p></li>
            <li ng-if="user"><button type="button" class="btn btn-inverse navbar-btn" ng-click="setLocation('/')"><i class="icon-home"></i></button></li>

            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-star"></i> Favorites <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="hasFavorites()" class="dropdown-header">Favorite Characters</li>
                        <li ng-repeat="character in characters | filter: {favorite: true}"><a href="/character/{{ character.id }}"><i class="icon-user"></i> {{ character.name }}</a></li>
                        <li ng-if="!hasFavorites()"><p class="text-center"><b>No Favorites</b></p></li>
                        <li class="divider"></li>
                        <li><a  ng-click="addChar()"><i class="icon-plus"></i> Add Character</a></li>
                    </ul>
                </div>
            </li>

            <li ng-if="user">
                <div class="btn-group">
                    <button type="button" class="btn btn-inverse navbar-btn" ng-click="logout()"><i class="icon-signout"></i> Sign Out</button>
                    <button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">Switch User</li>
                        <li ng-repeat="u in allUsers"><a ng-click="loginAs(u.email)"><i class="icon-user"></i> {{ u.email }}</a></li>
                    </ul>
                </div>
            </li>
            <li ng-if="!user">
                <div class="btn-group">
                    <button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> Sign In <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 280px; padding: 10px;">
                        <li class="dropdown-header">Select User</li>
                        <li ng-repeat="u in allUsers"><a ng-click="loginAs(u.email)"><i class="icon-user"></i> {{ u.email }}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">New User</li>
                        <li>
                            <form class="form-inline" style="padding: 5px 15px;" ng-submit="createUser()">
                                <input type="email" class="form-control input-sm" placeholder="email@example.com" ng-model="newUserEmail" style="width: 180px;" onclick="event.stopPropagation();">
                                <button type="submit" class="btn btn-sm btn-primary" onclick="event.stopPropagation();">Add</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="alert-area">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.message }}</alert>
    </div>
</div>
