//----------------------------------------------------------------------------------------------------------------------
// Overrides for default styling
//----------------------------------------------------------------------------------------------------------------------

// Fixes a z-fighting issue with navbars and menus.
.navbar
{
    z-index: auto;
}

// Why is there no padding on the right?
.navbar-nav.navbar-right
{
    margin-right: 15px;
}

ul.navbar-nav > li + li
{
    margin-left: 5px;
}

// Add the ability to put buttons in panels
.panel-heading .btn
{
    margin-top: -6px;
    padding: 4px 10px;
}

//----------------------------------------------------------------------------------------------------------------------

// Create a wider than default modal.
body .modal.wide
{
    width: 900px;
    margin-left: -450px;
}

.modal-body {
    max-height: 800px;
}

.modal-header .subtitle
{
    font-size: .95em;
    color: #777;
    margin-bottom: 0;
}

//----------------------------------------------------------------------------------------------------------------------

select.tall
{
    height: 400px;
    width: 100% !important;
}

//----------------------------------------------------------------------------------------------------------------------

.help-block
{
    color: #aaa;
    margin-left: 5px;
    margin-top: 1px !important;
    font-size: .85em;
}

.help-block code
{
    font-size: .85em;
}

//----------------------------------------------------------------------------------------------------------------------

.mono
{
    font-family: monospace;
}


//----------------------------------------------------------------------------------------------------------------------
