/* Header */

.header .brand
{
    font-weight: 500;
}

.header
{
    margin-bottom: 10px;
}

.sign-in .icon-persona
{
    color: #f90;
}

.current-user
{
    margin-right: 10px;
}

.header-buttons
{
    padding-top: 2px;
}

/* General */

table td.expand
{
    width: 99%
}

table td.shrink
{
    white-space:nowrap
}

.header .navbar-inner
{
    position: relative;
}

.header .brand,
.header .header-buttons
{
    position: relative;
    z-index: 5;
}

.header .title
{
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

/* Alerts */
.alert-area
{
    position: absolute;
    top: 20px;
    left: calc(50% - 250px);
    left: -webkit-calc(50% - 250px);
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    z-index: 50;
}

.alert-area .alert
{
    opacity: 0.98;
}

/* Dashboard */

.favorite,
.favorite:hover
{
    color: #f90;
}

/* Attributes */

.attribute h2
{
    display: inline-block;
}

.attribute .score
{
    margin-left: 10px;
    font-size: 30px;
}

.pointer
{
    cursor: pointer;
}