/* Header */

.header .brand
{
    font-weight: 500;
}

.header
{
    margin-bottom: 10px;
}

.sign-in .icon-persona
{
    color: #f90;
}

.current-user
{
    margin-right: 10px;
}

.header-buttons
{
    padding-top: 2px;
}

/* General */

table td.expand
{
    width: 99%
}

table td.shrink
{
    white-space:nowrap
}

/* Dashboard */

.favorite,
.favorite:hover
{
    color: #f90;
}
