.pull-right .dropdown-menu {
  left: auto;
  right: 0;
  padding: 5px;
  min-width: 200px;
}
#charDetails .form-group {
  margin-bottom: 0 !important;
}
.attributeBlock .panel-heading h3 {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.attributeBlock .score {
  width: 45px;
  text-align: center;
  display: inline-block;
}
.attributeBlock .form-control[readonly] {
  cursor: inherit;
  background: #fff;
}
.attributeBlock .skill + .skill {
  margin-top: 3px;
}
