<link href="/system/savage_worlds/css/savage_worlds.css" rel="stylesheet">
<script src="/system/savage_worlds/js/controllers.js"></script>

<div class="sw-character" ng-controller="SWCharacterCtrl">
    <div class="row">
        <div class="col-md-6">
            <header class="char-header">
                <h1 editable="character.name" type="text" confirm="true" toolbar>Character Name</h1>
                <span class="rank">{{ sysChar.rank }}: <span editable="sysChar.xp" type="number" confirm="true" toolbar>XP</span></span>
            </header>
            <p class="quote">"<span editable="sysChar.quote" type="text" confirm="true" toolbar></span>"</p>
        </div>
        <div class="col-md-6">
            <p>Stats go here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 attribute">
            <h2>Agility:</h2>
            <span class="score" editable="sysChar.agility_die"></span>
        </div>
        <div class="col-md-2 attribute">
            <h2>Smarts:</h2>
            <span class="score" editable="sysChar.smarts_die"></span>
        </div>
        <div class="col-md-2 attribute">
            <h2>Spirit:</h2>
            <span class="score" editable="sysChar.spirit_die"></span>
        </div>
        <div class="col-md-2 attribute">
            <h2>Strength:</h2>
            <span class="score" editable="sysChar.strength_die"></span>
        </div>
        <div class="col-md-2 attribute">
            <h2>Vigor:</h2>
            <span class="score" editable="sysChar.vigor_die"></span>
        </div>
    </div>
</div>

