<tabset class="detail-tabs">
    <tab heading="Attributes" select="setTab('attributes')" ng-if="showAttributes">
        <div ng-include="'/systems/dnd4e/partials/attributes.html'"></div>
    </tab>
    <tab heading="Powers" select="setTab('powers')">
        <div class="powers">
            <power ng-repeat="powerRef in detailCtrl.sysChar.powers | orderBy: [sortPowerType, sortPowerKind, sortPowerLevel, 'power.name']" toggle="true" power-ref="powerRef" sys-char="detailCtrl.sysChar"></power>
        </div>
    </tab>
    <tab heading="Feats" select="setTab('feats')">
        <div class="feats">
            <feat ng-repeat="featRef in detailCtrl.sysChar.feats | orderBy: 'feat.name'" toggle="true" feat-ref="featRef"></feat>
        </div>
    </tab>
    <tab heading="Equipment" select="setTab('equipment')">
        <div ng-if="detailCtrl.sysChar.head">
            <h4>Head Slot:</h4>
            <div class="items">
                <div class="item" ng-init="collapse['headslot-' + $index] = true">
                    <h4 class="title magic" ng-click="collapse['headslot-' + $index] = !collapse['headslot-' + $index]">
                        <button type="button" title="Remove this item" class="close" aria-hidden="true" ng-click="removeItem(detailCtrl.sysChar.head, $event)">&times;</button>
                        <button type="button" title="Edit this item" class="close edit" aria-hidden="true" ng-click="editItemRef(detailCtrl.sysChar.head, $event)"><i class="icon-edit"></i></button>
                        <span class="type-level">{{ detailCtrl.sysChar.head.stats.level || detailCtrl.sysChar.head.item.levels[0].level }}</span>
                        <b>{{ detailCtrl.sysChar.head.item.name }}</b>
                    </h4>
                    <div collapse="collapse['headslot-' + $index]">
                        <div class="flavor" ng-if="sysChar.head.item.flavor">{{ detailCtrl.sysChar.head.item.flavor }}</div>
                        <div class="section details">
                            <span><b>Item Slot:</b> {{ detailCtrl.sysChar.head.item.type }}</span>
                        </div>
                        <div class="sections">
                            <div class="section" ng-repeat="section in detailCtrl.sysChar.head.item.sections">
                                <b>{{ section.title }}:</b> <span ng-bind-html="section.content | markdown"></span>
                            </div>
                            <div class="section notes" ng-if="detailCtrl.sysChar.head.notes">
                                <b>Notes:</b> <span ng-bind-html="detailCtrl.sysChar.head.notes | markdown"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="detailCtrl.sysChar.neck">
            <h4>Neck Slot:</h4>
            <div class="items">
                <div class="item" ng-init="collapse['neckslot-' + $index] = true">
                    <h4 class="title magic" ng-click="collapse['neckslot-' + $index] = !collapse['neckslot-' + $index]">
                        <button type="button" title="Remove this item" class="close" aria-hidden="true" ng-click="removeItem(detailCtrl.sysChar.neck, $event)">&times;</button>
                        <button type="button" title="Edit this item" class="close edit" aria-hidden="true" ng-click="editItemRef(detailCtrl.sysChar.neck, $event)"><i class="icon-edit"></i></button>
                        <span class="type-level">{{ detailCtrl.sysChar.neck.stats.level || detailCtrl.sysChar.neck.item.levels[0].level }}</span>
                        <b>{{ detailCtrl.sysChar.neck.item.name }}</b>
                    </h4>
                    <div collapse="collapse['neckslot-' + $index]">
                        <div class="flavor" ng-if="sysChar.neck.item.flavor">{{ detailCtrl.sysChar.neck.item.flavor }}</div>
                        <div class="section details">
                            <span><b>Item Slot:</b> {{ detailCtrl.sysChar.neck.item.type }}</span>
                        </div>
                        <div class="sections">
                            <div class="section" ng-repeat="section in detailCtrl.sysChar.neck.item.sections">
                                <b>{{ section.title }}:</b> <span ng-bind-html="section.content | markdown"></span>
                            </div>
                            <div class="section notes" ng-if="detailCtrl.sysChar.neck.notes">
                                <b>Notes:</b> <span ng-bind-html="detailCtrl.sysChar.neck.notes | markdown"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Inventory:</h4>
        <div class="items">
            <div class="item" ng-repeat="itemRef in detailCtrl.sysChar.equipment | orderBy: 'item.name'" ng-init="collapse['magicitem-' + $index] = true">
                <h4 class="title magic" ng-click="collapse['magicitem-' + $index] = !collapse['magicitem-' + $index]">
                    <button type="button" title="Remove this item" class="close" aria-hidden="true" ng-click="removeItem(itemRef, $event)">&times;</button>
                    <button type="button" title="Edit this item" class="close edit" aria-hidden="true" ng-click="editItemRef(itemRef, $event)"><i class="icon-edit"></i></button>
                    <span class="type-level">{{ itemRef.stats.level || itemRef.item.levels[0].level }}</span>
                    <b>{{ itemRef.item.name }}</b>
                </h4>
                <div collapse="collapse['magicitem-' + $index]">
                    <div class="flavor" ng-if="itemRef.item.flavor">{{ itemRef.item.flavor }}</div>
                    <div class="section details">
                        <div ng-switch="itemRef.item.type">
                            <span ng-switch-when="Armor"></span>
                            <span ng-switch-when="Shield"></span>
                            <span ng-switch-when="Weapon"></span>
                            <span ng-switch-when="Implement"></span>
                            <span ng-switch-when="Potion"><b>Potion:</b> {{ itemRef.stats.price || itemRef.item.levels[0].price }} gp</span>
                            <span ng-switch-when="Wondrous"><b>Wondrous Item:</b> {{ itemRef.stats.price || itemRef.item.levels[0].price }} gp</span>
                            <span ng-switch-default><b>Item Slot:</b> {{ itemRef.item.type }}</span>
                        </div>
                    </div>
                    <div class="sections">
                        <div class="section" ng-repeat="section in itemRef.item.sections">
                            <b>{{ section.title }}:</b> <span ng-bind-html="section.content | markdown"></span>
                        </div>
                        <div class="section notes" ng-if="itemRef.notes">
                            <b>Notes:</b> <span ng-bind-html="itemRef.notes | markdown"></span>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <button  ng-if="isEquipable(itemRef.item)" class="btn btn-default btn-block">Equip</button>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label pull-right" style="margin-top: 7px">Amount:</label>
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="number" class="form-control" ng-model="itemRef.amount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab title="Rolls" select="setTab('rolls')">
        <tab-heading>
            <i class='icon-dice'></i>
        </tab-heading>
        <div class="rolls-tab">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Generic rolls here..." ng-model="genericRoll" ng-enter="detailCtrl.rollsService.rollDice('', genericRoll, detailCtrl.sysChar)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="detailCtrl.rollsService.rollDice('', genericRoll, detailCtrl.sysChar)">Roll</button>
                    <button class="btn btn-default" type="button" ng-click="detailCtrl.rollsService.clearRolls(); genericRoll = ''">Clear</button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control fake">
                    <p ng-repeat="roll in detailCtrl.rollsService.pastRolls track by $index">{{ roll || "&nbsp;" }}</p>
                </div>
            </div>
            <hr>
            <div class="form-group" ng-repeat="roll in detailCtrl.sysChar.rolls">
                <div ng-hide="rollEdits[$index]" class="btn-group btn-block">
                    <roll-button icon="'icon-dice'" class="fill-width" roll="roll" context="detailCtrl.sysChar"></roll-button>
                    <button type="button" class="btn btn-default" ng-click="editRoll($index)" title="Edit roll"><i class="icon-edit"></i></button>
                    <button type="button" class="btn btn-default" ng-click="removeRoll(roll)" title="Remove roll"><i class="icon-remove"></i></button>
                </div>
                <div ng-show="rollEdits[$index] && rollEdits[$index] != 'roll'" class="input-group">
                    <span class="input-group-addon">Title:</span>
                    <input type="text" class="form-control" placeholder="Roll title..." ng-model="roll.title" ng-enter="startUpdateRoll($index)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="startUpdateRoll($index)">Next</button>
                    </span>
                </div>
                <div ng-show="rollEdits[$index] == 'roll'" class="input-group">
                    <span class="input-group-addon">Roll:</span>
                    <input type="text" class="form-control" placeholder="Roll title..." ng-model="roll.roll" ng-enter="updateRoll(roll)">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="updateRoll(roll, $index)">Save Roll</button>
                    </span>
                </div>
            </div>
            <h5 ng-if="detailCtrl.sysChar.rolls.length == 0" class="text-center">No general rolls added yet.</h5>
            <hr>
            <div class="form-group">
                <div ng-hide="addStage == 'roll'" class="input-group">
                    <span class="input-group-addon">Title:</span>
                    <input type="text" class="form-control" placeholder="ex: Sneak Attack" ng-model="newRoll.title" ng-enter="startAddRoll()">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="startAddRoll()">Add Roll</button>
                    </span>
                </div>
                <div ng-show="addStage == 'roll'" class="input-group">
                    <span class="input-group-addon">Roll:</span>
                    <input id="rollTextEntry" type="text" class="form-control" placeholder="ex: 5d6 + [dexterityMod]" ng-model="newRoll.roll" ng-enter="addRoll()">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="addRoll()">Save Roll</button>
                    </span>
                </div>
                <button class="btn btn-link pull-right" ng-click="rollHelp()"><i class="icon-question-sign"></i> Roll Syntax Help</button>
            </div>
        </div>
    </tab>
    <tab title="Notes" select="setTab('notes')">
        <tab-heading>
            <i class='icon-edit'></i>
        </tab-heading>
        <textarea id="notes" class="form-control" ng-model="detailCtrl.sysChar.notes" style="min-height: 600px;" msd-elastic ng-trim="false"></textarea>
    </tab>
</tabset>
