.detail-tabs
{
    .rolls-tab {
        .form-group {
            margin-bottom: 5px;
        }
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .form-control.fake {
            height: auto !important;
        }

        .btn-group .btn.fill-width
        {
            width: calc(~"100% - 75px");
            width: -webkit-calc(~"100% - 75px");
        }
    }

    ul.nav.nav-tabs {
        margin-bottom: 10px;
    }

    .rolls {
        padding: 0 8px;

        div.row {
            padding-top: 5px;
            border-top: 1px solid #ccc;

            .btn {
                margin-bottom: 5px;
            }
        }
    }
}