<div>
    <nav class="navbar navbar-inverse navbar-static-top header" ng-controller="HeaderCtrl" role="navigation">
        <a class="navbar-brand" href="/">RPGKeeper</a>

        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text current-user">{{ user.email }}</p></li>
            <li ng-if="user"><button type="button" class="btn btn-inverse navbar-btn" ng-click="setLocation('/')"><i class="icon-home"></i></button></li>

            <li ng-if="user"><button type="button" class="btn btn-inverse navbar-btn" onclick="navigator.id.logout();"><i class="icon-persona"></i> Sign Out</button></li>
            <li ng-if="!user"><button type="button" class="btn btn-inverse navbar-btn" onclick="navigator.id.request();"><i class="icon-persona"></i> Sign In</button></li>
        </ul>
    </nav>
    <div class="alert-area">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.message }}</alert>
    </div>
</div>
