<div class="popover-inline" style="width: 100px;">
    <div class="form-group" style="width: 42px;">
        <input type="text" class="form-control" placeholder="0" ng-model="pageCtrl.sysChar.initiativeFeat">
        <span class="help-block">Feat Bonus</span>
    </div>
    <div class="spacer">
        +
    </div>
    <div class="form-group" style="width: 42px;">
        <input type="text" class="form-control" placeholder="0" ng-model="pageCtrl.sysChar.initiativeMisc">
        <span class="help-block">Misc</span>
    </div>
</div>
