<div class="hpcalc">
    <div class="left">
        <div class="hp-display">
            <!-- ng-class="{'text-success': hpCtrl.sysChar.currentHP > hpCtrl.sysChar.bloodiedValue, 'text-warning': hpCtrl.sysChar.currentHP <= hpCtrl.sysChar.bloodiedValue && hpCtrl.sysChar.currentHP > 0, 'text-error': hpCtrl.sysChar.currentHP <= 0 && hpCtrl.sysChar.currentHP >= -hpCtrl.sysChar.bloodiedValue, 'dead': hpCtrl.sysChar.currentHP < -hpCtrl.sysChar.bloodiedValue}" -->
            <span class="hp" ng-class="hpText()">{{ hpCtrl.sysChar.curHitPoints + hpCtrl.sysChar.tmpHitPoints }}</span>
            <span class="max">/{{ maxHP() }}</span>
            <span class="temp">Temp: {{ hpCtrl.sysChar.tmpHitPoints }}</span>
            <span class="surge">Surge: {{ surgeValue() }}</span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Damage" ng-model="damageInput">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="damage(damageInput)">Damage</button>
            </span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Heal/Tmp" ng-model="healInput">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="heal(healInput)">Heal</button>
                <button class="btn btn-default" ng-click="temp(healInput)">Tmp</button>
            </span>
        </div>
    </div>
    <div class="right">
        <button class="btn btn-default btn-block" ng-click="secondWind()" ng-class="{ disabled: !hpCtrl.sysChar.secondWindAvailable, possible: hpCtrl.sysChar.secondWindAvailable && hpCtrl.sysChar.curHitPoints < (maxHP() - surgeValue()) }">Second Wind</button>
        <div class="btn-group btn-block">
            <button class="btn btn-default" ng-click="addSurge()"><i class="icon-plus"></i></button>
            <button class="btn btn-default surge" ng-click="surge()" ng-class="{ disabled: checkSurge(), possible: hpCtrl.sysChar.curHitPoints < (maxHP() - surgeValue()) }">Surge ({{ hpCtrl.sysChar.currentSurges }})</button>
            <button class="btn btn-default" ng-click="removeSurge()" ng-class="{ disabled: hpCtrl.sysChar.currentSurges < 1 }"><i class="icon-minus"></i></button>
        </div>
        <button class="btn btn-default btn-block" ng-click="shortRest()">Short Rest</button>
        <button class="btn btn-default btn-block" ng-click="extendedRest()">Extended Rest</button>
    </div>
</div>