<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>New Class</h3>
    <p class="text-muted">Creates a new class, and then selects it.</p>
</div>
<div class="modal-body" ng-on-enter="add()">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls">
                <input class="form-control" type="text" id="name" placeholder="Name of the class..." ng-model="newClass.name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description:</label>
            <div class="controls">
                <textarea class="form-control" rows="5" id="description" placeholder="Description of the class..." ng-model="newClass.description" msd-elastic></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="intialHP">Initial Hit Points:</label>
            <input class="form-control" type="number" id="intialHP" placeholder="5" ng-model="newClass.initialHP" required>
            <div class="controls">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="hpPerLevel">Hit Points per Level:</label>
            <input class="form-control" type="number" id="hpPerLevel" placeholder="5" ng-model="newClass.hpPerLevel" required>
            <div class="controls">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="add('global')" class="btn btn-info" title="Add this class for all users of RPGKeeper"><i class="icon-plus"></i> Add for all users</button>
    <button ng-click="add()" class="btn btn-primary" title="Add this class just for your user"><i class="icon-plus"></i> Add for my user</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>
