<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Add Power</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3" style="height: 700px;">
            <select class="form-control tall" ng-model="chosenPower" ng-options="power as power.name for power in powerChoices | filter:newPower.name track by power.name" size="2" style="height: 100%">
                <option value="">Add new power...</option>
            </select>
        </div>
        <div class="col-md-9">
            <div ng-if="!chosenPower">
                <div class="form-group">
                    <label class="control-label" for="name">Name:</label>
                    <div class="controls">
                        <input class="form-control" id="name" type="text" placeholder="Type here to filter the list of possibilites, or add your own." ng-model="newPower.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="flavor">Flavor:</label>
                    <div class="controls">
                        <input class="form-control" id="flavor" type="text" placeholder="Flavor text..." ng-model="newPower.flavor" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label class="control-label" for="level">Level:</label>
                        <div class="controls">
                            <input class="form-control" id="level" type="number" placeholder="1" ng-model="newPower.level">
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="control-label" for="type">Power Type:</label>
                        <div class="controls" ng-init="newPower.type = 'At-Will'">
                            <select class="form-control" id="type" ng-model="newPower.type" ng-options="type for type in powerTypes" required></select>
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="control-label" for="kind">Power Kind:</label>
                        <div class="controls" ng-init="newPower.kind = 'Attack'">
                            <select class="form-control" id="kind" ng-model="newPower.kind" ng-options="kind for kind in powerKinds" required></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="keywords">Keywords:</label>
                        <div class="controls">
                            <input class="form-control" id="keywords" type="text" placeholder="Keywords..." ng-model="newPower.keywords" required>
                            <span class="help-block" style="margin-bottom: 0">Keywords are comma separated.</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="actionType">Action Type:</label>
                        <div class="controls" ng-init="newPower.actionType = 'Standard'">
                            <select class="form-control" id="actionType" ng-model="newPower.actionType" ng-options="type for type in actionTypes" required></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="range">Range:</label>
                    <div class="controls">
                        <input class="form-control" id="range" type="text" placeholder="Range text..." ng-model="newPower.range" required>
                    </div>
                </div>
                <hr>
                <h4><b>Sections</b></h4>
                <p class="text-muted">Sections are the parts of powers that have a title, and then a paragraph of text.</p>
                <div class="power-section" ng-repeat="section in newPower.sections track by $index">
                    <button ng-if="$index > 0" type="button" class="close" aria-hidden="true" ng-click="removeSection($index)">&times;</button>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label class="control-label" for="title">Title:</label>
                            <div class="controls">
                                <input class="form-control" id="title" type="text" placeholder="Title..." ng-model="section.title" required>
                                <span class="help-block" style="margin-bottom: 0">ie., Target, Effect, Hit, etc.</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-9">
                            <label class="control-label" for="content">Content:</label>
                            <div class="controls">
                                <textarea class="form-control" id="content" placeholder="Content goes here." ng-model="section.content" rows="2" ng-trim="false" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-link" ng-click="newPower.sections.push({})"><i class="icon-plus form-add-text"></i> Add new section</button>
            </div>
            <div ng-if="chosenPower" class="well well-sm">
                <p>
                    <b>Name:</b> {{ chosenPower.name }}
                </p>
                <p>
                    <b>Flavor:</b> {{ chosenPower.flavor }}
                </p>
                <p>
                    <b>Type:</b> {{ chosenPower.type }}
                </p>
                <p>
                    <b>Kind:</b> {{ chosenPower.kind }}
                </p>
                <p>
                    <b>Keywords:</b> {{ chosenPower.keywords }}
                </p>
                <p>
                    <b>Action Type:</b> {{ chosenPower.actionType }}
                </p>
                <p ng-if="chosenPower.range">
                    <b>Range:</b> {{ chosenPower.range }}
                </p>
                <p ng-repeat="section in chosenPower.sections">
                    <b>{{ section.title }}:</b> {{ section.content }}
                </p>
            </div>
            <hr>
            <div class="form-group">
                <label class="control-label" for="uses">Maximum Uses:</label>
                <div class="controls">
                    <input type="number" class="form-control" id="uses" ng-model="newPower.maxUses" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="notes">Notes:</label>
                <div class="controls">
                    <textarea class="form-control" id="notes" placeholder="Notes..." ng-model="newPower.notes" rows="5" required></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-if="!chosenPower" ng-click="add(chosenPower, 'global')" class="btn btn-info"><i class="icon-plus"></i>  Add to character (Global)</button>
    <button ng-click="add(chosenPower)" class="btn btn-primary"><i class="icon-plus"></i> Add</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>