<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Edit Class</h3>
    <p class="text-muted">Creates a new class, and then selects it.</p>
</div>
<div class="modal-body" ng-on-enter="save(class)">
    <div class="row">
        <div class="col-md-3" style="height: 700px;">
            <select class="form-control tall" ng-model="class" ng-options="class as class.name for class in classChoices track by class.name" size="2" style="height: 100%">
            </select>
        </div>
        <div class="col-md-9">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="name">Name:</label>
                    <div class="controls">
                        <input class="form-control" type="text" id="name" placeholder="Name of the class..." value="{{ class.name }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description:</label>
                    <div class="controls">
                        <textarea class="form-control" rows="5" id="description" placeholder="Description of the class..." ng-model="class.description" msd-elastic></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="intialHP">Initial Hit Points:</label>
                    <input class="form-control" type="number" id="intialHP" placeholder="5" ng-model="class.initialHP" required>
                    <div class="controls">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="hpPerLevel">Hit Points per Level:</label>
                    <input class="form-control" type="number" id="hpPerLevel" placeholder="5" ng-model="class.hpPerLevel" required>
                    <div class="controls">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="save(class)" class="btn btn-primary" title="Add this class just for your user"><i class="icon-edit"></i> Save</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>
