<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Edit Power Details</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-info btn-block" ng-click="edit(powerRef.power)"><i class="icon-edit"></i> Edit "{{ powerRef.power.name }}" Power</button>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="control-label" for="uses">Maximum Uses:</label>
        <div class="controls">
            <input type="number" class="form-control" id="uses" ng-model="powerRef.maxUses" ng-disabled="powerRef.power.type == 'At-Will'" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="notes">Notes:</label>
        <div class="controls">
            <textarea class="form-control" id="notes" placeholder="Notes..." ng-model="powerRef.notes" rows="5" required></textarea>
        </div>
    </div>
    <hr>
    <h4>Rolls:</h4>
    <div class="row">
        <h4 ng-if="powerRef.rolls.length == 0" class="text-center col-sm-12">No rolls added, yet.</h4>
        <div class="col-sm-12 row power-section" ng-repeat="roll in powerRef.rolls">
            <div style="height: 30px; margin-top: -5px">
                <button type="button" class="close" aria-hidden="true" ng-click="powerRef.rolls.splice($index, 1)">&times;</button>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="roll.title">
            </div>
            <div class="col-sm-9">
                <textarea class="form-control" ng-model="roll.roll"></textarea>
            </div>
        </div>
        <div class="input-group col-sm-6 col-sm-offset-6" style="margin-top: 10px">
            <input type="text" class="form-control" placeholder="Roll name goes here..." ng-model="rollName">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="powerRef.rolls.push({title: rollName}); rollName = ''">Add Roll</button>
            </span>
        </div>
        <small class="muted pull-right" style="margin-top:10px"><i class="icon-question-sign"></i> See the help link on the Rolls tab for help with the rolls syntax.</small>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="add()" class="btn btn-primary"><i class="icon-save"></i> Save</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>