<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Edit Power</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3" style="height: 700px;">
            <input type="text" class="form-control" placeholder="Filter by name" style="margin-bottom: 5px;" ng-model="powerName">
            <select class="form-control tall" ng-model="power" ng-options="power as power.name for power in powerChoices | filter: powerName track by power.name" size="2" style="height: 100%">
                <option value="">Select a power...</option>
            </select>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label" for="name">Name:</label>
                <div class="controls">
                    <input class="form-control" id="name" type="text" placeholder="Type here to filter the list of possibilites, or add your own." ng-model="power.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="flavor">Flavor:</label>
                <div class="controls">
                    <textarea class="form-control elastic" id="flavor" placeholder="Flavor text..." ng-model="power.flavor" rows="1" msd-elastic required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label class="control-label" for="level">Level:</label>
                    <div class="controls">
                        <input class="form-control" id="level" type="number" placeholder="1" ng-model="power.level">
                    </div>
                </div>
                <div class="form-group col-sm-5">
                    <label class="control-label" for="type">Power Type:</label>
                    <div class="controls">
                        <select class="form-control" id="type" ng-model="power.type" ng-options="type for type in powerTypes" required></select>
                    </div>
                </div>
                <div class="form-group col-sm-5">
                    <label class="control-label" for="kind">Power Kind:</label>
                    <div class="controls">
                        <select class="form-control" id="kind" ng-model="power.kind" ng-options="kind for kind in powerKinds" required></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="keywords">Keywords:</label>
                    <div class="controls">
                        <ng-tags id="keywords" model="power.keywords" placeholder="Keywords..." tag-class="'label-primary'" unique-tags="true" tag-events="['enter', 'comma']"></ng-tags>
                        <span class="help-block" style="margin-bottom: 0">Press enter after each keyword.</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="actionType">Action Type:</label>
                    <div class="controls">
                        <select class="form-control" id="actionType" ng-model="power.actionType" ng-options="type for type in actionTypes" required></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="range">Range:</label>
                <div class="controls">
                    <input class="form-control" id="range" type="text" placeholder="Range text..." ng-model="power.range" required>
                </div>
            </div>
            <hr>
            <h4><b>Sections</b></h4>
            <p class="text-muted">Sections are the parts of powers that have a title, and then a paragraph of text.</p>
            <div class="power-section" ng-repeat="section in power.sections track by $index">
                <button ng-if="$index > 0" type="button" class="close" aria-hidden="true" ng-click="power.sections.splice($index, 1)">&times;</button>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label class="control-label" for="title">Title:</label>
                        <div class="controls">
                            <input class="form-control" id="title" type="text" placeholder="Title..." ng-model="section.title" required>
                            <span class="help-block" style="margin-bottom: 0">ie., Target, Effect, Hit, etc.</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-9">
                        <label class="control-label" for="content">Content:</label>
                        <div class="controls">
                            <textarea class="form-control" id="content" placeholder="Content goes here." ng-model="section.content" rows="2" msd-elastic ng-trim="false" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-link" ng-click="power.sections.push({})"><i class="icon-plus form-add-text"></i> Add new section</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="save(power)" class="btn btn-primary"><i class="icon-save"></i> Save</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>
