<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Edit Feat</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3" style="height: 500px;">
            <select class="form-control tall" ng-model="feat" ng-options="feat as feat.name for feat in featChoices track by feat.name" size="2" style="height: 100%">
            </select>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label" for="name">Name:</label>
                <div class="controls">
                    <input class="form-control" id="name" type="text" placeholder="Type here to filter the list of possibilities, or add your own." ng-model="feat.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="prereq">Prerequisites:</label>
                <div class="controls">
                    <input class="form-control" id="prereq" type="text" placeholder="Prerequisites, if any..." ng-model="feat.prerequisites" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description:</label>
                <div class="controls">
                    <textarea class="form-control" id="description" placeholder="Description..." ng-model="feat.description" rows="5" msd-elastic required></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="save(feat)" class="btn btn-primary"><i class="icon-save"></i> Save</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>