<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Roll Help</h3>
</div>
<div class="modal-body">
    <span ng-bind-html="
'RPGKeeper supports a special syntax for rolls. This is based off traditional `XdY` roll syntax, but with some
additions. Instead of simply hard-coding everything, you can also have variables that come from your character.
For example, let\'s say I have an attack that deals `1[W] + Charisma modifier` damage. In RPGKeeper, you would
enter that like: `1d6 + [charismaMod]`.

### Variables

Variables can be used any place an integer can. They are always of the form: `[variable]`, but they can
optionally have spaces between the brackets and the name of the variable, like so: `[ variable ]`. It should be noted,
however, that variables **are case sensitive**. Here are some examples:

* `1d6 + [strengthMod] + f[level] / 2`
* `[constitutionMod]d6 + 10`
* `[level]d[wisdomMod] + [intelligenceMod]`

### Operations

All major operations are supported: `+`, `-`, `*`, `/`. Standard order of operations is supported.

### Min/Max

Some die rolls can have a minimum (a number that if you get lower than, you re-roll). RPGKeeper supports this with the `..`
syntax. Rolls like this take the from of: `Xdmin..max`. So, let\'s say you have a roll that allows you to re-roll all
ones. It would look like this: `1d2..6`. Or, let\'s say that you can re-roll anything below a 5 on a d20. This would look
like: `1d5..20`. This can be used in combination with all other operators.

### Floor, Ceiling, Round

Only integers are supported in rolls, so RPGKeeper gives you some tools to handle operations that might produce non-integers.
These are Floor: `f`, Ceiling: `c`, Round: `r`. Floor means \'always round down\', Ceiling means \'always round up\',
and Round means \'round to the nearest integer\'. You use them like an normal operator: `f[level] / 2`.

### Supported variables

The following are all variables we support:' | markdown"></span>
    <div class="row">
        <div class="col-sm-2" ng-repeat="(key, value) in sysChar"><small>{{ key }}</small></div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-default">Close</button>
</div>
