<tabset class="detail-tabs">
    <tab heading="Attributes" select="setTab('attributes')" ng-if="showAttributes">
        <div ng-include="'/systems/dnd4e_simp/partials/attributes.html'"></div>
    </tab>
    <tab heading="Powers" select="setTab('powers')">
        <div class="powers">
            <div class="power" ng-repeat="powerRef in sysChar.powers | orderBy: ['power.type', 'power.kind', 'power.level', 'power.name']" ng-init="collapse['power-' + $index] = true">
                <h4 class="title {{ powerRef.power.type.toLowerCase() }}" ng-click="collapse['power-' + $index] = !collapse['power-' + $index]">
                    <span  ng-repeat="i in range(powerRef.maxUses) track by $index">
                        <i title="Indicates if a power has been used." ng-if="powerRef.power.type != 'At-Will'" class="{{ getUseIcon(powerRef, $index) }}" ng-click="handleUse(powerRef, $index, $event)"></i>
                    </span>
                    <button type="button" title="Remove this power" class="close" aria-hidden="true" ng-click="removePower(powerRef, $event)">&times;</button>
                    <button type="button" title="Edit this power" class="close edit" aria-hidden="true" ng-click="editPower(powerRef, $event)"><i class="icon-edit"></i></button>
                    <span class="type-level" ng-switch="powerRef.power.kind">{{ powerRef.power.kind }}<span ng-if="powerRef.power.level"> {{ powerRef.power.level }}</span></span>
                    <b>{{ powerRef.power.name }}</b>
                </h4>
                <div collapse="collapse['power-' + $index]">
                    <div class="flavor" ng-if="powerRef.power.flavor">{{ powerRef.power.flavor }}
                    </div>
                    <div class="section details">
                        <div>
                            <b>{{ powerRef.power.type }}</b>
                            <span ng-if="powerRef.power.keywords">&diams; <b>{{ powerRef.power.keywords.join(', ') }}</b></span>
                        </div>
                        <div>
                            <span style="display: inline-block; width: 49.5%;"><b>{{ powerRef.power.actionType }}</b></span>
                            <span style="display: inline-block; width: 49.5%;"><b>{{ powerRef.power.range }}</b></span>
                        </div>
                    </div>
                    <div class="sections">
                        <div class="section" ng-repeat="section in powerRef.power.sections">
                            <b>{{ section.title }}:</b> <span ng-bind-html-unsafe="section.content | markdown"></span>
                        </div>
                        <div class="section notes" ng-if="powerRef.notes">
                            <b>Notes:</b> <span ng-bind-html-unsafe="powerRef.notes | markdown"></span>
                        </div>
                    </div>
                    <div  ng-if="powerRef.rolls" class="rolls">
                        <div class="row">
                            <div ng-class="getPowerRollSize($odd, $last)" ng-repeat="roll in powerRef.rolls">
                                <button class="btn btn-default btn-sm btn-block" title="Roll: {{ roll.roll }}" ng-click="rollDice(roll.roll, roll.title, sysChar)">
                                    {{ roll.title }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Feats" select="setTab('feats')">
        <div class="feats">
            <div class="feat" ng-repeat="featRef in sysChar.feats | orderBy: 'feat.name'" ng-init="collapse['feat-' + $index] = true">
                <h4 class="title" ng-click="collapse['feat-' + $index] = !collapse['feat-' + $index]">
                    <button type="button" title="Remove this feat" class="close" aria-hidden="true" ng-click="removeFeat(featRef, $event)">&times;</button>
                    <button type="button" title="Edit this feat" class="close edit" aria-hidden="true" ng-click="editFeat(featRef, $event)"><i class="icon-edit"></i></button>
                    {{ featRef.feat.name }}
                </h4>
                <div collapse="collapse['feat-' + $index]">
                    <div class="section prerequisites" ng-if="featRef.feat.prerequisites">
                        <b>Prerequisites:</b> <span ng-bind-html-unsafe="featRef.feat.prerequisites | markdown"></span>
                    </div>
                    <div class="section description" ng-if="featRef.feat.description">
                        <b>Description:</b> <span ng-bind-html-unsafe="featRef.feat.description | markdown"></span>
                    </div>
                    <div class="section special" ng-if="featRef.feat.special">
                        <b>Special:</b> <span ng-bind-html-unsafe="featRef.feat.special | markdown"></span>
                    </div>
                    <div class="section notes" ng-if="featRef.notes">
                        <b>Notes:</b> <span ng-bind-html-unsafe="featRef.notes | markdown"></span>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Equipment" select="setTab('equipment')">
        <h4 class="text-center">Not Implemented Yet</h4>
    </tab>
</tabset>
