<tabset class="detail-tabs">
    <tab heading="Attributes" select="setTab('attributes')" ng-if="showAttributes">
        <pre>{{ showAttributes | json }}</pre>
        <div ng-include="'/systems/dnd4e_simp/partials/attributes.html'"></div>

    </tab>
    <tab heading="Powers" select="setTab('powers')">
        <div class="powers">
            <h4 class="text-center">Not Implemented Yet</h4>
        </div>
    </tab>
    <tab heading="Feats" select="setTab('feats')">
        <div class="feats">
            <div class="feat" ng-repeat="featRef in sysChar.feats | orderBy: 'feat.name'" ng-init="collapse['feat-' + $index] = true">
                <h4 class="title" ng-click="collapse['feat-' + $index] = !collapse['feat-' + $index]">
                    <button type="button" class="close" aria-hidden="true" ng-click="removeFeat(featRef, $event)">&times;</button>
                    {{ featRef.feat.name }}
                </h4>
                <div collapse="collapse['feat-' + $index]">
                    <div class="section prerequisites" ng-if="featRef.feat.prerequisites">
                        <b>Prerequisites:</b> <span ng-bind-html-unsafe="featRef.feat.prerequisites | markdown"></span>
                    </div>
                    <div class="section description" ng-if="featRef.feat.description">
                        <b>Description:</b> <span ng-bind-html-unsafe="featRef.feat.description | markdown"></span>
                    </div>
                    <div class="section special" ng-if="featRef.feat.special">
                        <b>Special:</b> <span ng-bind-html-unsafe="featRef.feat.special | markdown"></span>
                    </div>
                    <div class="section notes" ng-if="featRef.notes">
                        <b>Notes:</b> <span ng-bind-html-unsafe="featRef.notes | markdown"></span>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Equipment" select="setTab('equipment')">
        <h4 class="text-center">Not Implemented Yet</h4>
    </tab>
</tabset>
