//----------------------------------------------------------------------------------------------------------------------
// Styling for dnd4e_simp
//----------------------------------------------------------------------------------------------------------------------

.pull-right .dropdown-menu
{
    left: auto;
    right: 0;
    padding: 5px;
    min-width: 200px;
}

#charDetails
{
    .form-group
    {
        margin-bottom: 0 !important;
    }
}

.attributeBlock
{
    .panel-heading
    {
        h3
        {
            display: inline-block;
            margin-left: 5px;
            position: relative;
            top: 3px;
        }
    }

    .score
    {
        width: 45px;
        text-align: center;
        display: inline-block;
    }

    .form-control[readonly]
    {
        cursor: inherit;
        background: #fff;
    }

    .skill + .skill
    {
        margin-top: 3px;
    }

    label.skillName
    {
        position: relative;
        top: 2px;
        margin-bottom: 0;
    }
}

//----------------------------------------------------------------------------------------------------------------------