/** Overrides **/

h1, h2, h3, h4, h5, h6
{
    margin-top: 0;
    margin-bottom: 0;
}

select
{
    width: auto !important;
    margin-bottom: 0;
}

/** New Char Dialog **/

.race-details h4,
.class-details h4,
.ssection h4
{
    margin-bottom: 10px;
}

.skill-choices
{
    columns: 200px 3;
    -webkit-columns: 200px 3; /* Safari and Chrome */
    -moz-columns: 200px 3; /* Firefox */
}

.race-details .feat p,
.class-details .feat p
{
    padding-left: 15px;
}

.section p
{
    margin-bottom: 0;
}

.section header .subtitle
{
    color: #777;
    font-size: .85em;
}

.class-details .description
{
    font-style: italic;
    font-size: .85em;
}

.class-details table
{
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

.class-details table td
{
    vertical-align: top;
}

.details .section + .section
{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.class-feature-details .feature
{
    padding: 0 5px;
}

.class-feature-details .feature .subtitle
{
    color: #555;
    line-height: 1.25em;
    padding: 0 5px 5px;
}

.class-feature-details .feature h4
{
    font-size: 1.15em;
}

.class-feature-details .feat
{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    width: -webkit-calc(50% - 12px);
    font-size: .85em;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.class-feature-details .feat:hover
{
    border-color: #ffbf6a;
}

.class-feature-details .feat.active
{
    border-color: #f90;
}

/** Main CSS **/

#main-view
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.left-sidebar,
.right-sidebar
{
    width: 350px;
    margin: 0 5px;
}

.left-sidebar
{
    float: left;
}

.right-sidebar
{
    float: right;
}

.center-content
{
    margin: 0 360px;
    min-width: 250px;
}

.left-sidebar,
.right-sidebar
.center-content
{
    display: inline-block;
}

.center-content .navbar-inner
{
    min-height: 32px !important;
}

.center-content .navbar-inner:after
{
    clear: none !important;
}

img.portrait
{
    box-sizing: border-box;
    width: calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    max-width: 340px;
    border: 1px solid #555;
    margin: 0 5px;
    margin-bottom: 5px;
}

.char-details
{
    padding-left: 10px;
    margin-bottom: 15px;
}

.char-detail.name
{
    min-width: 250px;
}

.char-detail + .char-detail
{
    margin-left: 10px;
}

.char-detail
{
    position: relative;
    display: inline-block;
    vertical-align: baseline;
}
.char-detail .title
{
    text-align: center;
}

.char-detail .subtitle
{
    position: relative;
    text-align: center;
    border-top: 1px solid #555;
    color: #999;
    z-index: 5;
}

.char-detail h2
{
    margin-top: 0;
    margin-bottom: 0;
}

.char-detail h4
{
    margin-top: 10px;
    margin-bottom: 0;
}

.char-detail h4.fake-editable
{
    margin-bottom: 3px;
}

.char-detail select
{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    font-size: 17.5px;
    color: black;
    margin-bottom: -2px;
    text-align: center;
}

.char-detail select:hover
{
    border: 1px dashed #DDD;
}

.right-sidebar .tabbable
{
    height: -webkit-webkit--calc(100% - 165px);
    height: calc(100% - 165px);
}

.nav-tabs
{
    margin-bottom: 0;
}

.tab-content
{
    border-left: 1px solid #ddd;
    padding-left: 5px;
    padding-top: 10px;
}

.hitpoints
{
    box-sizing: border-box;
    margin-bottom: 5px;
    min-width: 340px;
}

.hitpoints .max-hp,
.hitpoints .surge-val
{
    margin-right: 5px;
}

.hitpoints .tmp-hp,
.hitpoints .bloodied-val
{
    margin-left: 5px;
}

.hitpoints .left
{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 4px;
    width: 55%;
    float: left;
}

.hitpoints .right
{
    box-sizing: border-box;
    margin-left: 0;
    padding-left: 4px;
    width: 45%;
    float: right;
}

.hitpoints .hp-counter
{
    box-sizing: border-box;
    padding: 12px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 2.75em;
    background-color: white;
    text-align: center;
    height: 48px;
    clear: both;
}

.hitpoints .hp-counter.dead
{
    color: #777;
}

.hitpoints .hp-row
{
    margin-top: 5px;
    clear: both;
}

.hitpoints .btn-full
{
    width: 100%;
}

.hitpoints .btn-full + .btn-full
{
    margin-top: 5px;
}

.hitpoints .hp-row + .hp-row
{
    margin-top: -5px;
    margin-bottom: -8px;
}

.hitpoints .dmg-input
{
    width: calc(100% - 83px);
    width: -webkit-calc(100% - 83px);
    text-align: center;
}

.hitpoints .dmg-btn,
.hitpoints .heal-grp,
.hitpoints .surge-grp
{
    display: inline-block;
    float: right;
    height: 30px !important;
}

.hitpoints .heal-grp .btn
{
    height: 30px !important;
}

.hitpoints .heal-input
{
    width: calc(100% - 109px);
    width: -webkit-calc(100% - 109px);
    text-align: center;
}

.hitpoints .surge-grp
{
    margin-top: 5px;
    width: 100%;
}

.hitpoints .surge-grp .surge-btn
{
    width: calc(100% - 62px);
    width: -webkit-calc(100% - 62px);
}

.bottom,
.hitpoints .bottom
{
    clear: both;
    height: 0;
}

/* Feats */

.feat
{
    margin-bottom: 5px;
}

.feat header
{
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    background-color: #eaeaea;
}

.feat .feat-contents
{
    padding: 0 8px;
}

.condition
{
    margin-bottom: 0;
}

.condition h4
{
    margin: 0;
}

.condition + .condition
{
    margin-top: 5px;
}

.section
{
    margin: 5px;
}

 /* Stats */

.stat-group
{
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
}

.stat-group .group-title
{
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.stat
{
    display: inline-block;
    background-color: #888;
    padding: 7px 9px;
}

.stat + .stat,
.stat-group + .stat-group
{
    margin-left: 5px;
}

.stat-group + .stat-group
{
    margin-top: 5px;
}

.stat .value
{
    border: 1px solid #666;
    background-color: white;
    padding: 0 7px;
    font-weight: 600;
    text-align: center;
}

.stat header
{
    display: inline-block;
    color: white;
}

.stat .btn
{
    display: inline-block;
}

.stat-group.attributes
{
    margin-top: 5px;
    float: left;
}

.stat-group.attributes .muted
{
    color: #777;
}

.stat-group.attributes .stat
{
    display: block;
}

.stat-group.attributes .stat header
{
    width: 2em;
}

.stat-group.attributes .stat + .stat,
.stat-group.skills .stat + .stat
{
    margin: 5px 0 0 0;
}

.stat-group.attributes .stat .value,
.stat-group.skills .stat .value
{
    display: inline-block;
    min-width: 22px;
}
.stat-group.attributes .stat input.value
{
    width: 32px;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 3px;
    padding: 0 0 0 7px;
}

.stat-group.attributes .stat .btn.btn-mini,
.stat-group.skills .stat .btn.btn-mini
{
    margin-top: -3px;
    padding-top: 0;
    padding-bottom: 0;
}

.stat-group.skills
{
    /*
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    */
    width: 600px;
}

.stat-group.skills .columns
{
    columns: 12.5em 4;
    -webkit-columns: 12.5em 4;
    -moz-columns: 12.5em 4;
}

.stat-group.skills .stat
{
    width: 12.5em;
}

.stat-group.skills .stat header
{
    width: 6.5em;
}

