<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h3>Add Skill</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label" for="description">Name:</label>
            <div class="controls">
                <input class="form-control" type="text" id="description" placeholder="Name of the skill to add..." ng-model="newSkill.name" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="duration">Ability:</label>
            <div class="controls">
                <!--input class="form-control" type="text" id="duration" placeholder="" ng-model="newSkill.ability" required=""-->
                <select class="form-control" ng-model="newSkill.ability" ng-options="ability.value as ability.name for ability in abilities" required>
                    <option value="">Please select an ability...</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="add()" class="btn btn-primary"><i class="icon-plus"></i> Add</button>
    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>